[ { kernel, [ { sync_nodes_mandatory, [] },
              { sync_nodes_optional, ['one@Core2Q8400','two@Core2Q8400']},
              { sync_nodes_timeout, 5000 },
              { start_dist_ac, true },
              { distributed,
                [ {numeric, 5000, ['one@Core2Q8400','two@Core2Q8400']} ]
              }
            ]}
].
