[ { kernel, [ { sync_nodes_mandatory, [] },
              { sync_nodes_timeout, 100 },
              { start_dist_ac, true }
            ]},
  { sasl,   [ %% minimise shell error logging
              { sasl_error_logger, false },
              %% only report errors
              { errlog_type, error }
            ]},
  { ncloud, []}
].

% vim: set filetype=erlang:
